.authCard {
  display: flex;
  padding: 30px 20px;
  min-height: 480px;
  align-items: center;
  justify-content: center;
  border-radius: 30px !important;
  box-shadow: var(--boxSh) !important;
}

.authCard__container {
  width: 520px;
}

/* header */
.authCard__title {
  font-size: 50px;
  font-weight: 300;
}

/* body */
.authCard__body {
  margin-top: 60px;
}

.authCard__input,
.authCard__button {
  border-radius: 13px !important;
}

/* footer */
.authCard__button {
  width: fit-content;
}

.authCard__footer.login {
  position: relative;
  top: 30px;
}

/* media screen */
@media (max-width: 900px) {
  .authCard {
    padding: 20px 30px;
    border-radius: 35px !important;
  }

  .authCard__container {
    width: 100%;
    max-width: 620px;
  }

  /* header */
  .authCard__title {
    font-size: 40px;
  }

  /* body */
  .authCard__body {
    margin-top: 20px;
  }

  .authCard__input,
  .authCard__button {
    border-radius: 10px !important;
  }
}
