*,
::after,
*::before {
  letter-spacing: normal !important;
}

:root {
  --mainBlue: #2B5189;
  --mainBlueTransparent: #4874B870;
}

.fullSize {
  width: 100% !important;
  height: 100vh !important;
}

.mainBlue {
  background-color: var(--mainBlue) !important;
}

.lk-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  justify-content: center;
}

.lk-info__group {
  display: flex;
}

.lk-info__group + .lk-info__group {
  margin-top: 10px;
}

.lk-info__title {
  width: 100vw;
  max-width: 130px;
}
