/* styles */
@import "./lk.css";
@import "./news.css";
@import "./ourTeam.css";

/* components */
@import "./components/uploader.css";
@import "./components/adaptiveImage.css";

*,
::after,
*::before {
  letter-spacing: normal !important;
}

/* #F1F1F1FF */
:root {
  --mainBlue: #2B5189;
  --mainBlueT: rgba(72, 116, 184, 0.44);
  --grayBox: rgba(149, 157, 165, 0.15);
  --grayBlock: #F1F1F130;
  --lGray: #fdfdfd;
  --boxSh: rgba(149, 157, 165, 0.2) 0 8px 24px;
  --boxShL: var(--grayBox) 0 8px 24px;
  --borRad: 13px;
  --borRadS: 9px;
}

/* items */
.v-dialog,
.v-menu__content {
  border-radius: var(--borRad) !important;
  box-shadow: var(--boxShL) !important;
}

.v-overlay.v-overlay--active .v-overlay__scrim {
  opacity: .25 !important;
}

.v-data-footer {
  position: sticky;
  bottom: 0;
  background-color: #fff;
}

.loadingBlock {
  height: calc(100vh - 140px)
}

.menu-button {
  z-index: 10 !important;
  padding: 5px 10px !important;
  color: #F1F1F1FF !important;
  font-size: 20px !important;
  border-radius: var(--borRad) !important;
  backdrop-filter: blur(40px) !important;
  background: rgba(241, 241, 241, 0.5) !important;
}

.fullSize {
  width: 100% !important;
  height: 100vh !important;
}

.mainBlue {
  background-color: var(--mainBlue) !important;
}

.mainBlueTransparent {
  background-color: var(--mainBlueT) !important;
}

.mainContainer {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor-pointer:hover {
  cursor: pointer !important;
}

/* header */
.header {
  position: absolute;
  width: 100%;
  top: 20px;
  z-index: 100;
  margin-bottom: 20px;
}

.header-container {
  color: white;
  border-radius: var(--borRad);
  background-color: var(--mainBlue);
  box-shadow: rgba(43, 81, 137, 0.50) 0 7px 29px 0;
}

.header-link {
  font-size: 18px !important;
}

.header-link + .header-link {
  margin-left: 16px !important;
}

.headerCarousel {
  position: relative;
  margin-top: -140px;
}

.headerCarousel-content {
  display: flex;
  position: absolute;
  width: 100%;
  top: 172px;
  bottom: 30px;
}

.headerCarousel-content__container {
  display: block;
  height: 100%;
}

.headerCarousel-content__card {
  width: 100%;
  height: 100%;
  min-height: 420px;
  border-radius: var(--borRad) !important;
  box-shadow: var(--mainBlueT) 0 7px 29px 0 !important;
}

.headerCarousel-content__card-container {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
}

.headerCarousel-content-title,
.headerCarousel-content-text {
  text-align: start;
  color: white !important;
  justify-content: flex-start !important;
}

.headerCarousel-content-text {
  margin-top: 14px;
  text-align: justify !important;
}

/* flag */
.flag-bkg {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.flag-bkg.mainFlagBlock {
  position: relative;
  margin-top: 250px;
}

/* block */
.block-title {
  justify-content: center;
  font-size: 50px !important;
  letter-spacing: normal !important;
}

.block-text {
  font-size: 26px !important;
  font-weight: 300 !important;
  line-height: 1.25 !important;
  letter-spacing: normal !important;
  text-align: center;
  margin: 8px auto 0;
}

/* about-us */
.aboutUs {
  position: relative;
  top: -200px;
}

.aboutUs-text {
  max-width: 900px;
}

.aboutUs-video {
  margin-top: 20px;
  border-radius: var(--borRad);
}

.aboutUs-video__content {
  border-radius: var(--borRad);
}

/* imageGroup */
.imageGroup-container {
  display: flex;
}

.imageGroup-card {
  width: 100%;
  max-width: 620px;
}

.imageGroup-card + .imageGroup-card {
  margin-left: 40px;
}

.imageGroup-card__image {
  border-radius: var(--borRad) !important;
}

.imageGroup-card:last-child {
  display: flex;
  flex-direction: column-reverse;
}

.pleaseDonate {
  margin-top: 80px;
  padding: 40px 0 80px;
  background: var(--grayBlock);
}

.pleaseDonate-text {
  white-space: pre-wrap;
}

/* map */
.map-container {
  position: relative;
}

/* footer */
.footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
