*,
::after,
*::before {
  letter-spacing: normal !important;
}

/* #F1F1F1FF */
:root {
  --mainBlue: #2B5189;
  --mainBlueTransparent: rgba(72, 116, 184, 0.44);
  --grayBox: rgba(149, 157, 165, 0.15);
  --box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
  --box-shadow__light: var(--grayBox) 0 8px 24px
}

/*  */
.v-menu__content {
  border-radius: 13px !important;
  box-shadow: var(--box-shadow__light) !important;
}

.loadingBlock {
  height: calc(100vh - 140px)
}

.fullSize {
  width: 100% !important;
  height: 100vh !important;
}

.mainBlue {
  background-color: var(--mainBlue) !important;
}

.mainBlueTransparent {
  background-color: var(--mainBlueTransparent) !important;
}

/* header */
.header {
  position: absolute;
  width: 100%;
  top: 20px;
  z-index: 1000;
  margin-bottom: 20px;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  border-radius: 13px;
  background-color: var(--mainBlue);
  box-shadow: rgba(43, 81, 137, 0.50) 0 7px 29px 0;
}

.header-link {
  font-size: 18px !important;
}

.header-link + .header-link {
  margin-left: 16px !important;

}

.header-carousel {
  position: relative;
  margin-top: -140px
}

.header-carousel__content {
  display: flex;
  position: absolute;
  width: 100%;
  top: 172px;
  bottom: 30px;
  justify-content: center;
}

.header-carousel__content-container {
  width: 100%;
  max-width: 1200px
}

.header-carousel__content-card {
  width: 100%;
  min-height: 420px;
  align-items: center;
  justify-content: center;
  border-radius: 13px !important;
  box-shadow: var(--mainBlueTransparent) 0 7px 29px 0 !important;
}

.header-carousel__content-card-container {
  width: 100%;
  max-width: 70%;
  margin: 0 auto;
}

.header-carousel__content-title,
.header-carousel__content-text {
  text-align: start;
  color: white !important;
  justify-content: flex-start !important;
}

.header-carousel__content-text {
  margin-top: 14px;
  text-align: justify !important;
}

.cursor-pointer:hover {
  cursor: pointer !important;
}

/* lk */
.lk {
  margin-top: 40px;
}

.lk-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  justify-content: center;
}

.lk-content {
  width: 100%;
}

.lk-img {
  border-radius: 13px !important;
  box-shadow: var(--box-shadow__light) !important;
}

.lk-info__group {
  display: flex;
}

.lk-info__group + .lk-info__group {
  margin-top: 10px;
}

.lk-info__title {
  width: 100vw;
  max-width: 130px;
}

/* flag */
.flag-bkg {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.flag-bkg.mainFlagBlock {
  position: relative;
  margin-top: 250px;
}

.block-title {
  justify-content: center;
  font-size: 50px !important;
  letter-spacing: normal !important;
}

.block-text {
  font-size: 26px !important;
  font-weight: 300 !important;
  line-height: 1.25 !important;
  letter-spacing: normal !important;
  text-align: center;
  margin: 8px auto 0;
}

/* about-us */
.aboutUs {
  position: relative;
  top: -200px;
}

.aboutUs-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.aboutUs-text {
  max-width: 900px;
}

.aboutUs-video {
  margin-top: 20px;
  border-radius: 13px;
}

.aboutUs-video__content {
  border-radius: 13px;
}

/* imageGroup */
.imageGroup-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageGroup-card {
  width: 100%;
  max-width: 620px;
}

.imageGroup-card + .imageGroup-card {
  margin-left: 40px;
}

.imageGroup-card__image {
  border-radius: 13px !important;
}

.imageGroup-card:last-child {
  display: flex;
  flex-direction: column-reverse;
}

/* ourTeam */
.ourTeam {
  position: relative;
  top: 0;
  margin-top: 80px;
  padding: 40px 0 80px;
  background: #F1F1F130;
}

.ourTeam-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.ourTeam-members {
  display: flex;
  margin-top: 40px;
  align-items: center;
  justify-content: center;
}

.ourTeam-card {
  width: 300px;
  height: 430px;
  padding: 1px;
  border-radius: 13px;
  background: #fdfdfd;
  box-shadow: var(--box-shadow__light);
}

.ourTeam-card.admin-card {
  margin: 10px !important;
  border: 1px solid var(--grayBox);
  box-shadow: none !important;
}

.ourTeam-card + .ourTeam-card {
  margin-left: 30px;
}

.ourTeam-card__container {
  width: 100%;
  height: 100%;
  border-radius: 13px;
}

.ourTeam-card__image {
  margin: 7px !important;
  border-radius: 13px !important;
}

.ourTeam-card__image.admin-image {
  position: relative;
}

.ourTeam-card__name {
  margin-top: 30px;
  font-weight: 500 !important;
  font-size: 20px !important;
  text-align: center;
}

.ourTeam-card__memberLabel {
  font-size: 18px !important;
  font-weight: 300 !important;
  padding-top: 0 !important;
  margin-top: 10px !important;
  text-align: center;
}

/* news */
.news {
  margin-top: 40px;
}

.news-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.news-card {
  width: 100%;
  max-width: 580px;
  height: 420px;
  padding: 1px;
  margin: 15px 10px;
  cursor: pointer;
  border-radius: 13px;
  background: #fdfdfd;
  box-shadow: var(--box-shadow__light);
}

.news-card__image {
  position: relative;
}

.news-card__image-carousel {
  border-radius: 13px !important;
}

.news-card__image-buttons {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 15px;
  right: 15px;
}

.news-card__image-title {
  padding: 5px 10px !important;
  color: #F1F1F1FF !important;
  font-size: 20px !important;
  border-radius: 13px !important;
  backdrop-filter: blur(40px) !important;
  background: rgba(241, 241, 241, 0.5) !important;
}

.news-card__text {
  font-size: 18px !important;
}

.news-card__body {
  display: flex;
  height: 110px;
  flex-direction: column;
}

.news-card__button {
  border-radius: 13px !important;
}

.news-console {
  display: flex;
}

.news-console__group {
  margin-left: 10px;
}

.news-console__text {
  font-weight: 500 !important;
  padding-left: 0 !important;
  padding-bottom: 5px !important;
}

.news-console__button {
  padding: 5px 10px !important;
  color: #000000 !important;
  font-size: 13px !important;
  border-radius: 7px !important;
  background: rgba(241, 241, 241, 0.5) !important;
}

.news-console__button + .news-console__button {
  margin-left: 10px;
}

.pleaseDonate {
  margin-top: 80px;
  padding: 40px 0 80px;
  background: #F1F1F130;
}

.pleaseDonate-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.pleaseDonate-text {
  white-space: pre-wrap;
}
