/* news */
.news {
  margin-top: 40px;
}

.news-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

/* newsCard */
.newsCard {
  width: 100%;
  max-width: 580px;
  height: 420px;
  padding: 1px;
  margin: 15px 10px;
  cursor: pointer;
  border-radius: var(--borRad);
  background: var(--lGray);
  box-shadow: var(--boxShL);
}

.newsCard-body {
  display: flex;
  height: 110px;
  flex-direction: column;
}

.newsCard-text {
  font-size: 18px !important;
}

.newsCard-button {
  border-radius: var(--borRad) !important;
}

/* newsCard-image */
.newsCard-image {
  position: relative;
}

.newsCard-image__carousel {
  border-radius: var(--borRad) !important;
}

.newsCard-image__buttons {
  display: flex;
  top: 15px;
  right: 15px;
  position: absolute;
  flex-direction: row;
}

.newsCard-image__title {
  padding: 5px 10px !important;
  color: #42445AFF;
  text-shadow: 0 0 25px #fff;
  font-size: 20px !important;
  border-radius: var(--borRad) !important;
  backdrop-filter: blur(40px) !important;
  background: rgba(241, 241, 241, 0.5) !important;
}

/* newsItem */
.newsItem-card {
  display: flex;
  margin-top: 14px;
  min-height: 250px;
  border-radius: var(--borRad);
  flex-direction: column;
  box-shadow: var(--boxShL);
}

.newsItem-card__carousel {
  border-radius: var(--borRad);
}

.newsItem-title {
  margin-top: 10px;
  font-size: 30px !important;
  letter-spacing: normal !important;
}

.newsItem-text {
  font-size: 18px !important;
  font-weight: 300 !important;
  line-height: 1.25 !important;
  letter-spacing: normal !important;
  white-space: pre-wrap;
  margin: 8px auto 0;
}

.newsItem-chip {
  width: fit-content;
  border-radius: var(--borRad);
  background: var(--lGray);
  box-shadow: var(--boxShL);
}

/* newsConsole */
.newsConsole {
  display: flex;
}

.newsConsole-group {
  margin-left: 10px;
}

.newsConsole-text {
  font-weight: 500 !important;
  padding-left: 0 !important;
  padding-bottom: 5px !important;
}

.newsConsole-button {
  padding: 5px 10px !important;
  color: black !important;
  font-size: 13px !important;
  border-radius: 7px !important;
  background: rgba(241, 241, 241, 0.5) !important;
}

.newsConsole-button + .newsConsole-button {
  margin-left: 10px;
}
